 <div class="container">
     <h1 class="title">Todo</h1>
     <input type="text"  placeholder="Add a new todo" [value]="todoText"
        (keydown.enter)="addTodo()" (input)="onInputChange($event)"/>
     <button (click)="addTodo()">Add</button>

     <ul>
        <li *ngFor="let todo of todos">
            <input type="checkbox" [(ngModel)]="todo.completed" />
            <span [ngClass]="{ completed: todo.completed }">{{ todo.text }}</span>
            <button (click)="editTodo(todo.id)">Edit Todo</button>
            <button (click)="removeTodo(todo.id)">Remove</button>
        </li>
     </ul>
 </div>