<!-- <div class="container">
    <form class="container-inputs">
        <mat-form-field>
            <mat-label>Search items</mat-label>
            <input [formControl]="searchControl" placeholder="Search items" matInput/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Items</mat-label>
            <mat-select [formControl]="filterControl">
                <mat-option value="">All</mat-option>
                <mat-option  value="category1">Category 1</mat-option>
                <mat-option  value="category2">Category 2</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <ul>
        <li *ngFor="let item of filteredItems$ | async">{{ item.name }}</li>
    </ul>
</div> -->

<!-- Zip operator & combineLatest operator-->

<button mat-raised-button (click)="dispatchOrder()">Order Durm</button>
<hr>
<button mat-raised-button (click)="_flatBread$.next('flat bread')">Add flat bread</button>
<button mat-raised-button (click)="_meat$.next('meat')">meat</button>
<button mat-raised-button (click)="_sauce$.next('sauce')">_sauce</button>
<button mat-raised-button (click)="_tomato$.next('tomato')">_tomato</button>
<button mat-raised-button (click)="_cabbage$.next('cabbage')">Add flat bread</button>

<!-- <ng-container *ngIf="durms$ | async">
    <ul>
        <li *ngFor="let item of durms$ | async">{{ item }}</li>
    </ul>
</ng-container> -->

<ng-container *ngIf="delivery$ | async as product">
    <section *ngIf="product?.product">
        <pre>{{ product | json }}</pre>
    </section>
</ng-container>