<!-- <app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<app-spinner></app-spinner> -->

<!-- <app-form></app-form> -->

<!-- <app-todo></app-todo> -->


<!-- <main>
    <h1>Rxjs Scheduler</h1>
    <h2 appPermission [hello]="permission[1]">Permission Allowed</h2>
    <h2 appPermission [hello]="permission[11]">Permission Not Allowed</h2>
    <button mat-raised-button (click)="runAsync()">Run Async</button>
</main> -->




 <ng-container *ngFor="let user of array1">
    <p>{{ user.name }} - {{ user.age }}</p>
 </ng-container>










