
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    width: 60%;
};

.blog-card{
    margin: 10px auto;
    width: 60%;
};

.edit-btn{
    text-align: right;
    width: 100%;
    button{
        margin: 0px 10px;
    }
}